In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv('https://raw.githubusercontent.com/WidhyaOrg/datasets/master/instagram_reach.csv',index_col=[0])
data.head()

   S.No              USERNAME  ... Time since posted  Likes
0     1         mikequindazzi  ...          11 hours    139
1     2       drgorillapaints  ...           2 hours     23
2     3    aitrading_official  ...           2 hours     25
3     4  opensourcedworkplace  ...           3 hours     49
4     5           crea.vision  ...           3 hours     30

[5 rows x 7 columns]

In [3]:
data.shape

(100, 7)

In [4]:
data=data.drop(['S.No','USERNAME','Caption','Hashtags'],axis=1)

In [5]:
data.head()

   Followers Time since posted  Likes
0       1600          11 hours    139
1        880           2 hours     23
2        255           2 hours     25
3        340           3 hours     49
4        304           3 hours     30

In [6]:
data['Time since posted'] = data['Time since posted'].map(lambda x: x.rstrip('hours'))

In [7]:
data.dtypes

Followers             int64
Time since posted    object
Likes                 int64
dtype: object

In [8]:
y=data['Likes']

In [9]:
X=data.drop(['Likes'],axis=1)

In [10]:
data['Time since posted']=data['Time since posted'].astype(str).astype(int)

In [11]:
data.dtypes

Followers            int64
Time since posted    int64
Likes                int64
dtype: object

In [19]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [21]:
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
import pickle 
  
# Save the trained model as a pickle string. 
saved_model = pickle.dumps(model) 
  
# Load the pickled model 
lr_from_pickle = pickle.loads(saved_model) 
  
# Use the loaded pickled model to make predictions 
lr_from_pickle.predict(X_test)

array([ 55.46524239,  30.65466474,  58.79836689,  30.32041198,
        37.23498785,  41.77718439,  95.7229197 ,  34.32329255,
        43.39138063,  46.91076221,  32.301471  ,  60.71420586,
        43.34246559,  36.41848666,  34.15208992,  65.83272923,
        54.83499829,  59.63117309,  55.13789158, 188.06631033])

In [27]:
q=[300,10]

In [30]:
p=np.array(q)

In [35]:
s=p.reshape(1,-1)

In [36]:
lr_from_pickle.predict(s)

array([79.18023395])